.site-nav {
    text-align: center;

    ul {
        margin:1em 0;
        list-style:none;
    }
    li {
        display:inline-block;
        margin: 0 0.5em;
        font-size: 1.5em;
    }
}
.site-title a {
    color: #000;

    &:hover {
        text-decoration: none;
    }
}
.site-header {
    padding: 2em 0 0;
    border-bottom: 1px solid #ccc;
    background: url('/images/header-bg.png');
    background-size: 400px 400px;
}