.post-list {
	@extend %clearfix;
	list-style:none;
}
.post {
	float:left;
	width:50%;
	padding:0 3em 1em;

	&:nth-child(odd) {
		clear:both;
	}
}
.post-read-more-link {
	text-align:center;
}

.post-featured {
	float:none;
	margin:0 auto;
}